.post {
    max-width: 700px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    margin:10px auto;
}

.post__info {
  display: flex;
  align-items: center;
  max-width: 600px;
  
}

.post__info > input {
  margin-right: 10px;
  font-size: 14px;
}
.post__info > strong {
  margin-right: 10px;
  font-size: 20px;
}

.post__btn {
  display: flex;
  justify-content: flex-end
}

.post-enter {
    transform: translateX(-350px);
  }
  .post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
  }
  