*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

.App{
  width: 750px;
}

.App.dark {
  background: rgb(85, 33, 14);
  color: white;
}

.header {
  background: navy;
  text-align: center;
  padding: 2rem 0;
}

.header > a {
  text-decoration: none;
  margin-left: 15px;
  color: white;  
  min-height: 70px;
}
.active {
  color: rgb(116, 236, 112);
  
}